<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
    
     <div class="container">
        <div class="box">
            <a href="" >
            <img src="https://images.unsplash.com/photo-1633344061126-6c332d2124ef?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDJ8fGNhdCUyMHBob3RvfGVufDB8fDB8fHww" alt="image"></a>
        <div class="caption">Lorem ipsum </div>
</div> 
    
<div class="box">
            <a href="" >
            <img src="https://images.unsplash.com/photo-1616046592353-dd09170e0bf2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA1fHxzdHJlZXQlMjBwdXBweXxlbnwwfHwwfHx8MA%3D%3D" alt="image"></a>
        <div class="caption">Lorem ipsum </div>
</div> 

    
<div class="box">
            <a href="" >
            <img src="https://images.unsplash.com/photo-1570018144715-43110363d70a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGtpdHRlbnxlbnwwfHwwfHx8MA%3D%3D" alt="image"></a>
        <div class="caption">Lorem ipsum </div>
</div> 
     
     </div>
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
          <script src="app.js"></script>
 </body>
                
</html>